@mixin button($w, $h, $p, $r) {
  width: $w;
  height: $h;
  padding: $p;
  border-radius: $r;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border: none;
}

.cart {
  position: fixed;
  width: 300px;
  height: 100%;
  right: -25%;
  top: 0;
  background-color: rgb(238, 238, 238);
  transition: .3s all;
  z-index: 1000;

  &__inner {
    padding: 10px;

    > button {
      margin-bottom: 30px;

      ~ div {
        margin-bottom: 10px;
        border: 1px solid red;
      }
    }
  }

  &__btn {
    margin-top: 10px;
    @include button(150px, 30px, 5px, 5px);
    background-color: #fff;
    cursor: pointer;
  }

  &.active {
    right: 0;
  }
}