.lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    margin: 0 20px;
  }

  button {
    width: 120px;
    height: 30px;
    font-size: 17px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}