%search {
  color: #000;
  padding-left: 10px;
  border: 1px solid #ccc;
  outline: none;
}

@mixin search-form($w, $h) {
  width: $w;
  height: $h;
  @extend %search;
}

@mixin button($w, $h, $p, $r) {
  width: $w;
  height: $h;
  padding: $p;
  border-radius: $r;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border: none;
}

.banner {
  margin-top: 20px;
}

.lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    margin: 0 20px 20px 0;

    &-name {
      color: #000;
      text-decoration: none;
    }
  }

  button {
    width: 120px;
    height: 30px;
    font-size: 17px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

.search-form {
  margin-left: 10px;
  &__item {
    @include search-form(300px, 40px);
  }
}

.select-category + div {
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  position: relative;
  width: 200px;

  &:last-child {
    margin-left: 10px;
  }

  &__btn {
    @include button(200px, null, 10px, 5px);
    background-color: #fff;
    cursor: pointer;
  }

  &__list {
    display: none;
    width: 100%;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    span {
      display: block;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
  
      &:first-child {
        margin-top: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &--active {
      display: block;
    }
  }
}

.gender + div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.gender {
  &__item {
    @include button(120px, 30px, null, 5px);
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    &:last-child {
      margin-left: 10px;
    }
  }
}

.swiper {
  + div {
    display: flex;
    justify-content: space-between;
  }
}

.signup {
  @include button(120px, 30px, null, 5px);
  background-color:#fff;
  margin-top: 10px;
  cursor: pointer;
  display: block;
}

.logout {
  display: block;
  @include button(120px, 30px, null, 5px);
  background-color:#fff;
  margin-top: 10px;
  cursor: pointer;
}